$primary: #6200ee;
$success: #4caf50;
$primary-lighten-1: #8441e2;
$primary-lighten-2: #aa83e1;
$info: #2196f3;
$primary-hover: #f3f1f6;
$primary-hover-dark: #424040;
$border-color-active: rgb(142, 145, 148);
$border-color-light: rgba(229, 233, 237, 0.605);
$border-color-inactive: transparent;
